[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "==2.5.1"
flask = "=="
cors = "*"
sqlalchemy = "==1.4.48"
flask-mail = "*"
flask-socketio = "*"
python-dotenv = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
passlib = "*"
cryptography = "*"
pyotp = "*"
flask-cors = "*"
flask-migrate = "==3.1.0"

[dev-packages]

[requires]
python_version = "3.8"
